<%- include('../../partials/header') %>

    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <ul id="menuCategoria" class="navbar-nav mr-auto" style="margin-left:10%;">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>



    <div class="row justify-content-center text-center">
        <div class="col-md-3">
            <div class="card border-primary mt-5">
                <div class="card-header">Login</div>
                <div class="card-body">
                    <form action="/collaborator/login" method="POST" onsubmit="tryLogin(event)" class="form">
                        <input type="email" required name="email" placeholder="email" class="form-control" id="email">
                        <input type="password" required name="password" placeholder="******" class="form-control mt-2"
                            id="password">
                        <input type="submit" class="btn btn-success mt-3 form-control" value="Logar">
                        <a href="/client/register" class="btn btn-primary btn-sm form-control mt-2">Fazer
                            cadastro</a>
                        <a href="/client/login" class="btn btn-outline-primary btn-sm form-control mt-2">Sou um
                            cliente</a>
                    </form>
                </div>
            </div>

        </div>
    </div>


    <%- include('../../partials/footer') %>