<footer class="container-fluid fixed-bottom">
    <hr>
    <div class="row">
        <div class="col-3" style="text-align: center;">
            <img src="https://www.zapgrafica.com.br/loja/midia/zapgrafica/logo.png?1492712595" alt="">
        </div>
        <div class="col-3">
            <ul>
                <li>ENTRE EM CONTATO:</li>
                <li> Segunda à sexta de 8hs às 18hs</li>
                <li>Chat (8hs às 17hs)</li>
                <li>Zap Quer te ouvir</li>
                <li>Facebook Messenger</li>
                <li>atendimento@zapgrafica.com.br</li>
            </ul>
        </div>
        <div class="col-3">
            <ul>
                <li>CONTATO TELEFÔNICO:</li>
                <li> Segunda à sexta de 8hs às 18hs</li>
                <li>(31) 2566-6500</li>
                <li>(31) 2566-6500 </li>
                <li>Facebook Messenger</li>
                <li>
                    LOJAS FÍSICAS:

                    Segunda à sexta de 8hs às 18hs
                </li>
            </ul>
        </div>
        <div class="col-3">
            <ul>
                <li>Inscreva-se em nossa newsletter:</li>
                <li> Segunda à sexta de 8hs às 18hs</li>
                <li>Blog</li>
                <li>Midia Própria</li>
                <li>FAQ</li>
                <li>Institucional</li>
            </ul>
        </div>
    </div>

</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/ajax.js"></script>

</body>

</html>