<div style="min-height: 300px;"></div>
<footer>
<hr>
    <div class="container-fluid text-center" style="position: relative; bottom: 0px;">
        <div class="row">
            <div class="col text-center">
                <h4 style="color: blue;">Entre em Contato</h4>
            </div>

        </div>
        <div class="row mb-2">
            <div class="col-md-4 text-center mt-3">
                <img src="/images/MARCA_EVOLUIR_BLUE.jpg" width="300px" alt=""><br>
                
                    <i><img src="/images/icons/facebook.png" width="35px" height="35px" alt=""></i>
                    <i><img src="/images/icons/instagram.png" width="35px" height="35px" alt=""></i>
                    <i><img src="/images/icons/youtube.png" width="35px" height="35px" alt=""></i>
                
                
            </div>
            <div class="col-md-4 mt-3">
                <img src="/images/MARCA_EVOLUIR_BLUE.jpg" width="300px" alt=""><br>
                <i class="material-icons">facebook</i> <i class="material-icons">facebook</i> <i
                    class="material-icons">facebook</i>
            </div>
            <div class="col-md-4 mt-3">
                <img src="/images/MARCA_EVOLUIR_BLUE.jpg" width="300px" alt=""><br>
                <i class="material-icons">facebook</i> <i class="material-icons">facebook</i> <i
                    class="material-icons">facebook</i>
            </div>
        </div>

        <hr>
        <div class="row mb-3">
            <div class="col">
             <i><img src="/images/icons/caixa.png" data-toggle="tooltip" title="Aqui ficará o número da conta" width="35px" height="35px" alt=""></i>
             <i><img src="/images/icons/bbb.png" width="35px" height="35px" alt=""></i>
             <i><img src="/images/icons/bradesco.png" width="35px" height="35px" alt=""></i>
             <i><img src="/images/icons/itau.png" width="35px" height="35px" alt=""></i>             
            </div>
        </div>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/ajax.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</body>

</html>