<div style="min-height: 300px;"></div>
<hr>
<div class="container">    
    <div class="container text-center" style="position: relative; bottom: 0px;"></div>
    <div class="row">
        <div class="col text-center">
            <h4>Entre em Contato</h4>
        </div>
    </div>
    <div class="row mb-2 text-center">
        <div class="col-md-4 text-center">
            <img src="/images/icons/MARCA_EVOLUIR_BLUE.png" width="300px" alt=""><br><br>
            <i><img src="/images/icons/facebook.png" width="35px" height="35px" alt=""></i>
            <i><img src="/images/icons/instagram.png" width="35px" height="35px" alt=""></i>
            <i><img src="/images/icons/youtube.png" width="35px" height="35px" alt=""></i>
        </div>

        <div class="col-md-4 mt-3">
            <p>
                <strong> <i><img src="/images/icons/whats.png" width="20px" height="20px" alt=""></i> (75)
                    2102-9202</strong>
                <strong> <i><img src="/images/icons/facebook.png" width="20px" height="20px" alt=""></i> (75)
                    2102-9202</strong>
            </p>
            <p class="lead mb-0"><i><img src="/images/icons/mail.png" width="20px" height="20px"
                        alt=""></i>contato@evoluirimpressoes.com.br</p>
            <p>Segunda à Sexta, <strong>08h às 18h.</strong> Sábado <strong>08h às 12h</strong></p>
        </div>

        <div class="col-md-4 mt-3">
            <h5 class="lead"><strong> Sobre</strong> </h5>
            <h5 class="lead"><strong>Faq</strong></h5>
            <h5 class="lead"><strong>Pontos de Entrega</strong></h5>
        </div>
    </div>

    <hr>
    <div class="row text-center">
        <div class="col">
            <i><img src="/images/icons/caixa.png" data-toggle="tooltip" title="Aqui ficará o número da conta"
                    width="35px" height="35px" alt=""></i>
            <i><img src="/images/icons/bbb.png" width="35px" height="35px" alt=""></i>
            <i><img src="/images/icons/bradesco.png" width="35px" height="35px" alt=""></i>
            <i><img src="/images/icons/itau.png" width="35px" height="35px" alt=""></i>
        </div>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/ajax.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://kit.fontawesome.com/9849b40b34.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</body>

</html>