<nav id="menu" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <ul id="menuCategoria" class="navbar-nav mr-auto">
        <li class="nav-item">
            <a href="/" class="nav-link" style="color: white;">Home</a>
        </li>
        <li class="nav-item">
            <a href="/" class="nav-link" style="color: white;">Produto</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">

        <%if(user.nome == 'Visitante'){%>
        <li class="nav-item">
            <a href="/client/login" title="Entrar/Criar Conta" class="nav-link" style="color: white;"><i
                    class="material-icons">account_circle</i></a>
        </li>
        <%}else{%>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Olá <%= user.nome %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/client/order">Carrinho</a>
                <a class="dropdown-item" href="#">Pedidos</a>
                <a class="dropdown-item" href="/client/edit">Meu Cadastro</a>
                <a class="dropdown-item" href="/client/logout">Sair</a>
            </div>
        </li>
        <li class="nav-item">
            <a href="/client/order" class="nav-link" style="color: white;"> </a>
        </li>
        <%} %>

    </ul>
</nav>
<div class="container mt-3">
   <form action="/products/find">
    <div class="input-group mb-3">
        <input type="text" id="name" name="name" class="form-control" placeholder="Procure por um item" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Buscar</button>
        </div>
      </div>
   </form>
    
</div>