<div class="container">
    <form method="POST" action="/products/find">
        <div class="input-group mb-3">
            <input type="text" id="name" name="name" class="form-control" placeholder="Procure por um item"
                aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Buscar</button>
            </div>
        </div>
    </form>
</div>