<div class="modal fade" id="modalVerComprovante" data-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalVerComprovante" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                Análise de Comprovante
                <button type="button" class="close" onclick="limparInputs()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">                
                <!--Aqui ficará o conteúdo para anexar o comprovante e enviar-->
                <form action="/admin/payment/receipt" method="post">
                    
                    <div class="row">
                        <div class="col">
                            <img src="" id="previaImagem" width="100%" height="300px" alt="">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <input type="hidden" name="imagem" id="imagem">
                            <input type="hidden" name="idOrderImagem" id="idOrderImagem">
                            <input type="text" required placeholder="Deixe aqui seu informe de recusa ou aceite" name="informe" class="form-control form-control-sm" id="informe">
                            <hr> 
                            <button class="btn btn-success" id="btnSalvar" data-idOrder="0" type="submit">
                             Validar
                            </button>
                            <button class="btn btn-danger" id="btnSalvar" data-idOrder="0" type="submit">
                                Recusar
                               </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>