<%- include('../../partials/header') %>
<%- include('../../partials/navbaradmin') %>


<div class="container mt-3">
    <div class="card mb-4">
        <div class="card-header">
            <h5>Região de Entrega</h5>            
        </div>
        <div class="card-body">
            <form id="formEndereco" action="/main/deliveryRegion/save" method="POST">
                <div class="form-row">
                    <input type="hidden" name="idAddress" id="idAddress">
                    <div class="form-group col-md-3">
                        <label for="rua">Cep</label>
                        <div class="input-group  ">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary btn-sm" type="button" id="btnCep">Buscar
                                    Cep</button>
                            </div>
                            <input type="number" required name="cep" id="cep" class="form-control form-control-sm"
                                placeholder="">
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="rua">Cidade</label>
                        <input type="text" readonly required class="form-control form-control-sm" name="cidade"
                            id="cidade">
                    </div>

                    <div class="form-group col-md-4">
                        <label for="rua">Uf</label>
                        <input type="text" readonly required class="form-control form-control-sm" name="uf" id="uf">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="rua">Rua</label>
                        <input type="text" required class="form-control form-control-sm" name="rua" id="rua">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="bairro">Bairro</label>
                        <input type="text" required class="form-control form-control-sm" name="bairro" id="bairro">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="numero">Nº</label>
                        <input type="text" required class="form-control form-control-sm" name="numero" id="numero">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="complemento">Complemento</label>
                        <input type="text" required class="form-control form-control-sm" name="complemento" id="complemento">
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col">
                        <label for="estabelecimento">Estabelecimento</label>
                        <input type="text" required class="form-control form-control-sm" name="estabelecimento" id="estabelecimento">
                    </div>
                    <button type="submit" id="btnCadastrar" class="btn btn-primary form-control mt-2">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
    
</div>

<%- include('../../partials/footer') %>
<script src="/js/cliente.js"></script>
<script src="/js/address.js"></script>