<%- include('../../partials/header') %>
<%- include('../../partials/navbaradmin') %>

<div class="container mt-3">

    <div class="row text-center">
        <div class="col">

            <div class="card">
                <div class="card-header">Carrinho</div>
                <div class="card-body">
                    <h4><%=ords[0].total  %></h4>
                </div>
                    <a href="#" class="btn btn-outline-primary form-control">Detalhes</a>
            </div>
        </div>
        <div class="col">

            <div class="card">
                <div class="card-header">Total em Pedidos</div>
                <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Minima maxime aliquam esse nobis quo iure, quae ad porro obcaecati numquam,
                    minus adipisci aperiam harum quidem recusandae reprehenderit quod asperiores tempore.</div>
                    <a href="#" class="btn btn-outline-primary form-control">Detalhes</a>
            </div>
        </div>
        <div class="col">

            <div class="card">
                <div class="card-header">Total Faturado</div>
                <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Minima maxime aliquam esse nobis quo iure, quae ad porro obcaecati numquam,
                    minus adipisci aperiam harum quidem recusandae reprehenderit quod asperiores tempore.</div>
                    <a href="#" class="btn btn-outline-primary form-control">Detalhes</a>                
            </div>
        </div>        
    </div>

    <div class="row mt-2">
        <div class="col">

            <div class="card">
                <div class="card-header">Total Faturado</div>
                <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Minima maxime aliquam esse nobis quo iure, quae ad porro obcaecati numquam,
                    minus adipisci aperiam harum quidem recusandae reprehenderit quod asperiores tempore.</div>
                    <a href="#" class="btn btn-outline-primary form-control">Detalhes</a>                
            </div>
        </div>
        <div class="col">

            <div class="card">
                <div class="card-header">Total Faturado</div>
                <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Minima maxime aliquam esse nobis quo iure, quae ad porro obcaecati numquam,
                    minus adipisci aperiam harum quidem recusandae reprehenderit quod asperiores tempore.</div>
                    <a href="#" class="btn btn-outline-primary form-control">Detalhes</a>                
            </div>
        </div>
        <div class="col">

            <div class="card">
                <div class="card-header">Total Faturado</div>
                <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Minima maxime aliquam esse nobis quo iure, quae ad porro obcaecati numquam,
                    minus adipisci aperiam harum quidem recusandae reprehenderit quod asperiores tempore.</div>
                    <a href="#" class="btn btn-outline-primary form-control">Detalhes</a>                
            </div>
        </div>
    </div>
</div>


<%- include('../../partials/footer') %>