<%- include('../../partials/header') %>
<%- include('../../partials/navbaradmin') %>


<div class="container-fluid bg-warning">

    <div class="row text-center">
        <div class="col">
            <h6>Aguardando</h6>
        </div>
        <div class="col">
            <h6>Produzindo</h6>
        </div>
        <div class="col">
            <h6>Finalizado</h6>
        </div>
    </div>

    <ul class="list-group list-group-flush">
        <div class="row">
            <div class="col-md-4 area">
                <li class="list-group-item" draggable="true">
                    <div class="card text-center">
                        <a href="#">
                            <img width="180px" height="160px"
                                src="https://s3-sa-east-1.amazonaws.com/arquivosgraficas/midia/1FCAA7EC-0F65-43C2-A490-98C9F1E65A6A/servicos/FEF8E7DE-A295-4B3F-B9B6-D4BBAA62AA95.jpg"
                                class="card-img-top"></a>
                        <div class="card-body">
                            <p class="card-title">
                                Exemplo </p>
                            <div class="card-text mt-2">
                                <a href="" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top"
                                    title="Baixar gabarito">Baixar Gabarito</a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Ver detalhes"
                                    class="btn btn-primary btn-sm">Detalhes</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item list-group-item-action" draggable="true">
                    <div class="card text-center">
                        <a href="#">
                            <img width="180px" height="160px"
                                src="https://s3-sa-east-1.amazonaws.com/arquivosgraficas/midia/1FCAA7EC-0F65-43C2-A490-98C9F1E65A6A/servicos/FEF8E7DE-A295-4B3F-B9B6-D4BBAA62AA95.jpg"
                                class="card-img-top"></a>
                        <div class="card-body">
                            <p class="card-title">
                                Exemplo </p>


                            <div class="card-text mt-2">
                                <a href="" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top"
                                    title="Baixar gabarito">Baixar Gabarito</a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Ver detalhes"
                                    class="btn btn-primary btn-sm">Detalhes</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item list-group-item-action" draggable="true">
                    <div class="card text-center">
                        <a href="#">
                            <img width="180px" height="160px"
                                src="https://s3-sa-east-1.amazonaws.com/arquivosgraficas/midia/1FCAA7EC-0F65-43C2-A490-98C9F1E65A6A/servicos/FEF8E7DE-A295-4B3F-B9B6-D4BBAA62AA95.jpg"
                                class="card-img-top"></a>
                        <div class="card-body">
                            <p class="card-title">
                                Exemplo </p>


                            <div class="card-text mt-2">
                                <a href="" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top"
                                    title="Baixar gabarito">Baixar Gabarito</a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Ver detalhes"
                                    class="btn btn-primary btn-sm">Detalhes</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item list-group-item-action" draggable="true">4</li>
                <li class="list-group-item list-group-item-action" draggable="true">5</li>
            </div>
            <div class="col-md-4 area">
                <li class="list-group-item list-group-item-action" draggable="true">2</li>
                <li class="list-group-item list-group-item-action" draggable="true">3</li>
                <li class="list-group-item list-group-item-action" draggable="true">4</li>
                <li class="list-group-item list-group-item-action" draggable="true">5</li>
            </div>
            <div class="col-md-4 area">
                <li class="list-group-item list-group-item-action" draggable="true">2</li>
                <li class="list-group-item list-group-item-action" draggable="true">3</li>
                <li class="list-group-item list-group-item-action" draggable="true">4</li>
                <li class="list-group-item list-group-item-action" draggable="true">5</li>
            </div>
        </div>


    </ul>


</div>




<%- include('../../partials/footer') %>
<script src="/js/dragAndDrop.js"></script>