<%- include('../../partials/header') %>


<style>
    body {
        height: 100%;
        width: 100%;
        background-color: #007bff;
    }
    
</style>

<div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card border-primary  mt-5">
                <div class="card-header">Login</div>
                <div class="card-body">
                    <form action="/collaborator/acesso" method="POST" class="form">
                        <input type="email" required name="email" placeholder="email" class="form-control" id="">
                        <input type="password" required name="password" placeholder="******" class="form-control mt-2"
                            id="">
                        <input type="submit" class="btn btn-success mt-3 form-control" value="Logar">
                        <a href="/client/register" class="btn btn-primary btn-sm form-control mt-2">Fazer cadastro</a>
                        <a href="/client/login" class="btn btn-outline-primary btn-sm form-control mt-2">Sou um
                            cliente</a>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>



<%- include('../../partials/footer') %>