<div class="modal fade" id="modalShowOrder" data-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalShowOrder" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Detalhes do pedido</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="card">

                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-12" id="item">
                                <label for="prodDescricao">Item</label>
                                <input type="text" name="prodDescricao" value="çpaljasdçlajdsflka çlakjdfçlakjsd" class="form-control form-control-sm"
                                    readonly id="prodDescricao">
                            </div>
                            <div class="col-md-4" id="item">
                                <label for="valor">Valor</label>
                                <input type="text" name="valor" value="R$ 00,00" class="form-control form-control-sm"
                                    readonly id="valor">
                            </div>

                            <div class="col-md-4" id="quantidade">
                                <label for="quantidade">Quantidade</label>
                                <input type="text" name="quantidade" value="0" class="form-control form-control-sm" readonly
                                    id="quantidade">
                            </div>
                            <div class="col-md-4" id="altura">
                                <label for="altura">Altura</label>
                                <input type="text" name="altura" value="0" class="form-control form-control-sm" readonly
                                    id="altura">
                            </div>
                            <div class="col-md-4" id="largura">
                                <label for="largura">Largura</label>
                                <input type="text" name="largura" value="0" class="form-control form-control-sm" readonly
                                    id="largura">
                            </div>
                            <div class="col-md-4"id="ref">
                                <label for="ref">Ref</label>
                                <input type="text" name="ref" value="asdfasl55a" class="form-control form-control-sm" readonly
                                    id="ref">
                            </div>
                            <div class="col-md-4" id="link">asdfasdçlkjfaçlkjdfas</div>
                        </div>

                        <div class="row"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>