<div class="modal fade" id="modalShowOrder" data-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalShowOrder" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                Pedido
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">                
                <!--Aqui ficará o conteúdo para anexar o comprovante e enviar-->
                <h5>Aqui ficará a visualização do pedido selecionado</h5>
            </div>
        </div>
    </div>
</div>