<%- include('../../partials/header') %>
<%- include('../../partials/navbaradmin') %>


<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            Cadastro de produtos
        </div>
        <div class="card-body">
            <form action="/admin/products/save" method="POST" class="form">
                <div class="row">
                    <div class="col">
                        <label for="nome">Nome</label>
                        <input type="text" name="nome" id="nome" required class="form-control form-control-sm">
                    </div>
                    <div class="col">
                        <label for="descricao">Descricao</label>
                        <input type="text" name="descricao" id="descricao" required
                            class="form-control form-control-sm">
                    </div>
                    <div class="col">
                        <label for="codRef">Cod.Ref</label>
                        <input type="text" name="codRef" id="codRef" required class="form-control form-control-sm">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <label for="tamFinalAltura">Tam.Final-Altura</label>
                        <input type="text" name="tamFinalAltura" id="tamFinalLargura" required class="form-control form-control-sm">
                    </div>
                    <div class="col-md-3">
                        <label for="tamFinalLargura">Tam.Final-Largura</label>
                        <input type="text" name="tamFinalLargura" id="tamFinalLargura" required class="form-control form-control-sm">
                    </div>

                    <div class="col">
                        <label for="tamSangriaLargura">Tam.Sangria-Largura</label>
                        <input type="text" name="tamSangriaLargura" id="tamSangriaLargura" required
                            class="form-control form-control-sm">
                    </div>
                    <div class="col">
                        <label for="tamSangriaAltura">Tam.Sangria-Altura</label>
                        <input type="text" name="tamSangriaAltura" id="tamSangriaAltura" required class="form-control form-control-sm">
                    </div>
                </div>

                <div class="row">

                    <div class="col">
                        <label for="material">Material</label>
                        <input type="text" name="material" id="material" required class="form-control form-control-sm">
                    </div>
                    <div class="col">
                        <label for="gramatura">Gramatura</label>
                        <input type="text" name="gramatura" id="gramatura" required
                            class="form-control form-control-sm">
                    </div>
                    <div class="col">
                        <label for="peso">Peso</label>
                        <input type="text" name="peso" id="peso" required class="form-control form-control-sm">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <label for="vlrProduto">Vlr Produto</label>
                        <input type="text" name="vlrProduto" id="vlrProduto" required
                            class="form-control form-control-sm">
                    </div>
                    <div class="col">
                        <label for="qtd">Quantidade</label>
                        <input type="text" name="qtd" id="qtd" class="form-control form-control-sm">
                    </div>
                    <div class="col">
                        <label for="qtd">Propriedade de Divisão</label>
                        <input type="number" name="propriedadeDivisao" id="propriedadeDivisao"
                            class="form-control form-control-sm">
                    </div>
                </div>
                <div class="card-footer" style="float: right;">
                    <div class="row">
                        <div class="col">
                            <a href="/collaborator/find/all" class="btn btn-outline-primary">Cancelar</a>
                            <input type="submit" class="btn btn-primary btn-sm" value="Salvar">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('../../partials/footer') %>