<%- include('../../../partials/header') %>
<%- include('../../../partials/navbaradmin') %>
<script src="/js/slide.js"></script>

<div class="container mt-3">



    <div class="card">
        <div class="card-header">
            Gerencimento de Slide
        </div>
        <div class="card-body">
            <div class="col">
                <img src="/images/imagem_default.jpg" class="rounded" width="100%" height="300" id="previaImagem"
                    alt="">
                <input type="file" name="fileImagem" onchange="previaImagem(event)" id="fileImagem">
            </div>
            <form action="/admin/slide/save" method="post">
                <div class="row">
                    <div class="col">
                        <input type="hidden" id="imagem" name="imagem">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="titulo">Titulo</label>
                        <input class="form-control form-control-sm" type="text" name="titulo" id="titulo">
                    </div>
                    <div class="col">
                        <label for="subTitulo">SubTitulo</label>
                        <input class="form-control form-control-sm" type="text" name="subTitulo" id="subTitulo">
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary btn-sn" type="submit">Salvar</button>
                        </div>
                        <div class="col">
                            <a href="/slides" class="btn btn-warning btn-sm">Cancelar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>


    </div>

</div>



<%- include('../../../partials/footer') %>