<%- include('../../partials/header') %>
<%- include('../../partials/navbaradmin') %>



<div class="container mt-3">
    <div class="card">
        <div class="card-header">
            Gerencimento de Slide
        </div>
    </div>
</div>
















<%- include('../../partials/footer') %>